{{#each links as |link| }}
{{log link}}
<hr/>
<div class="row mb-4 link">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href={{link.link}} target="_blank">{{link.name}}</a>
    </h2>
    
  </div>
  <div class="col-md-7">
    <p>
      {{link.text}}
    </p>
    <p>User:
      {{link.user.username}}
    </p>
  </div>
</div>
<hr/>
{{/each}}